<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Navbar</title>
    <link rel="stylesheet" href="../static/styles.css">
    <style>
        h1{
         text-align: center;
         font-size: 42px;
         padding: 20%;
         font-weight: bold;
         color: aliceblue;
         
        } 

  
     </style>
        
     
</head>
<body>
<div style="background-color: #057377;">

      <nav class="navbar">
        <div class="navbar-left">
            <a href="X:\GIT CLONE\Leave_Management_System\frontend\views\index.html" class="menu-item">UnicomTic</a>
        </div>
        <div class="navbar-right">
            <a href="../views/Employees/index.html" class="menu-item">Employee</a>
                <div class="dropdown">
                    <button class="dropbtn">Leave Management</button>
                    <div class="dropdown-content">
                        <a href="/frontend/views/LeaveRequest/LeaveRequest.html">Apply Leave</a>
                        <a href="/frontend/views/LeaveRequest/ManagerLeaveManagement.html">Manage Leave</a>
                       
                      </div>
                </div>
            </div>
    </nav>
    <h1 style="color: black; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Welcome To Our Leave Management System</h1>
</div> 
    <main>
      
    </main>

</body>
</html>

